@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: var(--t-corpo);
    color: var(--cText);
}

:root {
    --princ: #6C5CE7;
    --cText: #2F3640;
    --fundo: #ffefcb;
    --meh: #55E6C1;

    --t-princ:  "Playfair Display", serif;  
    --t-corpo: "Oswald", serif;
}

@media screen and (max-width: 500px) {
    header {
        background-color: var(--princ);
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 75px;
        padding: 10px 0;
    }
    
    header img {
        width: 60px;
        position: absolute;
        left: 0;
    }
    
    #mucho-texto h1 {
        font-size: 40px;
        margin-bottom: 10px;
        font-family: var(--t-princ);
    }
    
    #mucho-texto p {
        font-size: 15px;
        font-family: var(--t-corpo);
    }

    main {
        min-height: 75.5vh;
    }

    .flash {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        height: 100%;
        margin-top: 1.5em;
    }
    
    .flash-iten {
        width: 200px;
        height: 200px;
        background-color: var(--fundo);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
        margin: .5em 0;
        box-shadow: 7px 10px 15px #0003;
        position: relative;
        cursor: pointer;
        perspective: 1000px;
        transition: transform 1s ease;
    }

    .flash-iten.ve {
        transform: rotateY(180deg);
    }

    .flash-iten:hover {
        background-color: #ffefcb90;
    }

    .tema {
        position: absolute;
        left: 0;
        top: 0;
        background-color: var(--meh);
        border: 1px solid black;
        border-radius: 15px;
        padding: 0 10px;
        box-shadow: 3px 3px 7px #0005;
    }

    footer {
        background-color: var(--princ);
        text-align: center;
        width: 100%;
        padding: 10px 0;
        font-size: 15px;
    }

    footer p {
        background-color: white;
        border-radius: 15px;
        width: 250px;
        margin: auto;
    }   
    
    #escolher {
        font-size: 20px;
    }

    #mensagem {
        font-size: 30px;
    }
}

@media screen and (min-width: 501px){
    header {
        background-color: var(--princ);
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 115px;
        padding: 10px 0;
    }
    
    header img {
        width: 100px;
        position: absolute;
        left: 0;
    }
    
    #mucho-texto h1 {
        font-size: 50px;
        margin-bottom: 10px;
        font-family: var(--t-princ);
    }
    
    #mucho-texto p {
        font-size: 20px;
        font-family: var(--t-corpo);
    }

    main {
        min-height: 67.35vh;
    }
    
    #escolher {
        font-size: 25px;
    }

    .flash {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        height: 100%;
        margin-top: 1.5em;
    }
    
    .flash-iten {
        width: 250px;
        height: 250px;
        background-color: var(--fundo);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
        margin: .5em 0;
        box-shadow: 7px 10px 15px #0003;
        position: relative;
        cursor: pointer;
        perspective: 1000px;
        transition: transform 1s ease;
    }

    .flash-iten.ve {
        transform: rotateY(180deg);
    }

    .flash-iten:hover {
        background-color: #ffefcb90;
    }

    .tema {
        position: absolute;
        left: 0;
        top: 0;
        background-color: var(--meh);
        border: 1px solid black;
        border-radius: 15px;
        padding: 0 10px;
        box-shadow: 3px 3px 7px #0005;
        font-size: 15px;
    }

    footer {
        background-color: var(--princ);
        text-align: center;
        width: 100%;
        padding: 10px 0;
        font-size: 20px;
    }

    footer p {
        background-color: white;
        border-radius: 15px;
        width: 325px;
        margin: auto;
    }

    #mensagem {
        font-size: 40px;
    }
}

body {
    background-image: url(fundo.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

label {
    color: white;
}

#escolher {
    text-align: center;
    margin: 1em auto;
}

#mensagem {
   text-align: center;
   font-family: var(--t-princ);
   margin: 1em auto 2em;
   color: white;
}

#s-mat {
    display: none;
    text-align: center;
    margin-bottom: 2em;
}

#s-por {
    display: none;
    text-align: center;
    margin-bottom: 2em;
}

#s-fis {
    display: none;
    text-align: center;
    margin-bottom: 2em;
}

#s-qui {
    display: none;
    text-align: center;
    margin-bottom: 2em;
}

#s-bio {
    display: none;
    text-align: center;
    margin-bottom: 2em;
}

#s-geo {
    display: none;
    text-align: center;
    margin-bottom: 2em;
}

#s-his {
    display: none;
    text-align: center;
    margin-bottom: 2em;
}

#s-pro {
    display: none;
    text-align: center;
    margin-bottom: 2em;
}

#s-ing {
    display: none;
    text-align: center;
    margin-bottom: 2em;
}

#s-edf {
    display: none;
    text-align: center;
    margin-bottom: 2em;
}

.pergunta {
    display: block;
    margin: 0 10px;
}

.resp {
    display: none;
    margin: 0 10px;
    transform: rotateY(180deg);
}

small {
    text-align: center;
    color: wheat;
}

small a {
    color: wheat;
}

audio {
    width: 100%;
    display: none;
    margin-top: 1em;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: var(--meh);
}