* {
    padding: 0;
    margin: 0;
}

:root {
    --princ: #6C5CE7;
    --text: #2F3640;
    --fundo: #F7F1E3;
    --meh: #55E6C1;
}

@media screen and (max-width: 300px) {
    header {
        background-color: var(--princ);
        color: var(--text);
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 75px;
    }
    
    header img {
        width: 60px;
        position: absolute;
        left: 0;
    }
    
    #mucho-texto h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }
    
    #mucho-texto p {
        font-size: 10px;
    }
}

@media screen and (min-width: 301px){
    header {
        background-color: var(--princ);
        color: var(--text);
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 115px;
    }
    
    header img {
        width: 100px;
        position: absolute;
        left: 0;
    }
    
    #mucho-texto h1 {
        font-size: 50px;
        margin-bottom: 10px;
    }
    
    #mucho-texto p {
        font-size: 15px;
    }
}